.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

out/
src/main/resources/static/
src/main/resources/templates/
src/test/resources/
src/resources/attributes/
src/resources/binding-behaviors/
src/resources/elements/
src/resources/value-converters/
